$themes: (
  light: (
    text: #0e0c0b,
    background: #faf9f9,
    primary: #98887c,
    secondary: #a9bcb7,
    accent: #98a3ae
  ),
  dark: (
    text: #f4f2f1,
    background: #060505,
    primary: #837367,
    secondary: #435651,
    accent: #515c67
  )
);
